.idea/
Flappy\ Bird\ Game/.vs/
Flappy\ Bird\ Game/.idea/
Flappy\ Bird\ Game/Flappy\ Bird\ Game/.idea/
Flappy\ Bird\ Game/Flappy\ Bird\ Game/Flappy\ Bird\ Game.vcxproj
Flappy\ Bird\ Game/Flappy\ Bird\ Game/Flappy\ Bird\ Game.vcxproj.filters
Flappy\ Bird\ Game/Flappy\ Bird\ Game/Flappy\ Bird\ Game.vcxproj.user
Flappy\ Bird\ Game/Flappy\ Bird\ Game/include/**
Flappy\ Bird\ Game/Flappy\ Bird\ Game/lib/
Flappy\ Bird\ Game/x64/
Flappy\ Bird\ Game/Flappy\ Bird\ Game/x64/
Flappy\ Bird\ Game/Flappy\ Bird\ Game/src/
